<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Index Page</title>
</head>
<body>
<div>
<h2><a href="new_add">Add Book</a></h2>
<br/>
<table border="1">
 <thead>
 <tr>
 <td>Book Id</td>
 <td>Book Name</td>
 <td>Book Author</td>
 <td>Book Price</td>
 </tr>
 </thead>
 <tbody>
 <tr th:each="book : ${getAllBook}">
 <td th:text="${book.bookid}">ID</td>
 <td th:text="${book.bookname}">name</td>
 <td th:text="${book.author}">author</td>
  <td th:text="${book.price}">price</td>
 </tr>
 </tbody>
</table>
</div>
</body>
</html>